/* -------------VARIABLES------------- */
:root {
  /* Colores Principales */
  --clr-main-200: #c6edff;
  --clr-main-400: #079adb;
  --clr-main-600: #014665;

  --clr-accent-200: rgb(254, 207, 190);
  --clr-accent-400: rgb(255, 92, 34);
  --clr-accent-600: #4f1b08;

  /* Blanco y Negro */
  /* --clr-dark: #231f1f; */
  --clr-dark: #000000;
  --clr-light: #f8fdff;
  --clr-mid: #a1afb6;
  --clr-shadow: #a1afb6;

  /* Colores Secundarios */
  --clr-subpage-1: #e0a7ff;
  --clr-subpage-2: #21b582;

  /* Gradientes Lineares */
  --lg-hero-1: rgba(7, 154, 219, 1);
  --lg-hero-2: rgba(7, 154, 219, 0.2);
  
  --lg-historia-1: rgba(255, 92, 34, 1);
  --lg-historia-2: rgba(255, 92, 34, 0.2);


  /* Tipografía */
  --font-main: 'Myriad';
  --font-title: 'Adieu Black';
}

/* -------------TIPOGRAFÍA------------- */
/* ADIEU */
@font-face {
  font-family: 'Adieu';
  src: url(../fonts/adieu-regular.otf);
}
@font-face {
  font-family: 'Adieu Bold';
  src: url(../fonts/adieu-bold.otf);
}
@font-face {
  font-family: 'Adieu Slanted';
  src: url(../fonts/adieu-boldslanted.otf);
}
@font-face {
  font-family: 'Adieu Black';
  src: url(../fonts/adieu-black.otf);
}
/* APERCU */
@font-face {
  font-family: 'Apercu Light';
  src: url(../fonts/apercu.otf);
}
@font-face {
  font-family: 'Apercu';
  src: url(../fonts/apercu-medium.otf);
}
@font-face {
  font-family: 'Gotham';
  src: url(../fonts/gotham-medium.otf);
}
@font-face {
  font-family: 'Gotham Bold';
  src: url(../fonts/gotham-bold.otf);
}
@font-face {
  font-family: 'Gotham Book';
  src: url(../fonts/gotham-book.otf);
}
/* MONUMENT */
@font-face {
  font-family: 'Monument';
  src: url(../fonts/monumentextended-regular.otf);
}
@font-face {
  font-family: 'Monument Black';
  src: url(../fonts/monumentextended-ultrabold.otf);
}
/* MYRIAD */
@font-face {
  font-family: 'Myriad';
  src: url(../fonts/myriadpro-regular.otf);
  font-weight: normal;
}

/* -----------ESTILOS GENERALES----------- */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--font-main);
}
a {
  color: inherit;
  text-decoration: none;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-title);
  text-transform: uppercase;
}
.h1 {
  font-size: 4.7rem;
}
.h2 {
  font-size: 3rem
}
.h3 {
  font-size: 2rem
}
.hero {
  width: 100vw;
  height: 100vh;
}
.hero-background,
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-overlay {
  background: linear-gradient(to top, var(--lg-hero-1), var(--lg-hero-2));
  z-index: -1;
}
.hero-background {
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale();
  z-index: -2;
}
.hero-title {
  font-family: var(--font-title);
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--clr-light);
}
.hero-panels {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 100px 15vw;
}
.panel {
  display: flex;
  flex-direction: column;
  color: var(--clr-light);
  /* padding: 0 3rem; */
}
.panel-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.panel-left .panel-img {
  width: 150px;
  margin-top: 1.5rem;
}
.panel-right {
  width: 60%;
}

/* -----------NAVEGACIÓN----------- */
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  padding: .5rem 5rem;
  align-items: center;
  background-color: var(--clr-dark);
  z-index: 100;
}
.menu-expanded {
  border-bottom: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
  color: black;
}
.menu-expanded img {
  filter:invert();
}
.header .logo img {
  width: 120px;
}
.main-nav {
  display: flex;
  flex: 1;
}
.menu-icon {
  font-size: 2rem;
  color: var(--clr-light);
  margin-left: auto;
}
.menu-expanded .menu-icon {
  color: var(--clr-dark)
}
.nav-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 4rem;
  left: 0;
  padding-top: 2rem;
  text-align: center;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-transform: uppercase;
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all .1s ease-out;
}
.nav-menu.expand {
  transform: scale(1, 1);
  opacity: 1;
  transition: transform .2s ease-in;
}
.main-nav .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding-top: 2rem;
}
/* .nav-list .title {
  font-family: 'Gotham Bold';
  font-size: 1rem;
} */
/* .nav-list .line {
  background-color: var(--clr-dark);
  width: 3.5rem;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 2rem;
} */
.nav-list li {
  color: var(--clr-main-400);
  font-family: 'Adieu Black';
  font-size: 2rem;
  padding-top: 1.5rem;
}
/* .nav-list li:first-of-type {
  padding-top: .5rem;
} */
/* .sub-nav li {
  font-family: 'Gotham Bold';
  font-size: 1.5rem;
  padding-top: .5rem;
  color: var(--clr-mid);
} */
.nav-list a:hover {
  text-shadow: 5px 5px 5px var(--clr-shadow);
}
.nav-list .list-icon {
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

/* -----------FOOTER----------- */
footer {
  display: flex;
  min-height: 40vh;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 2rem 10vw;
  font-family: 'Apercu Light';
}
.footer-panel {
  display: flex;
  flex-direction: column;
  /* align-items: stretch;
  justify-content: space-between; */
  padding: 0 3rem;
  width: 50%;
}
.footer-panel .footer-title {
  font-family: var(--font-title);
  font-size: 1.2rem;
  text-transform: uppercase;
}
.footer-panel p {
  font-size: 1rem;
  line-height: 1.5;
  padding: .5rem 0;
}
.footer-subtitle {
  font-family: var(--font-title);
  text-transform: uppercase;
}
footer .panel-right {
  padding-left: 5rem;
}
.footer-icon {
  font-size: 1.5rem;
  padding: .5rem 0;
}
.footer__logo {
  width: 350px;
}
footer .panel-right {
  border-left: 1px solid var(--clr-light);
}

/* -----------HERO----------- */
.home .hero {
  position: relative;
  margin-top: 0;
  overflow: hidden;
}
.home .hero-overlay {
  background-color: var(--clr-dark);
  opacity: .3;
}
.home .hero-title {
  display: none;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 150px;
  font-size: 2.5rem;
  color: var(--clr-main-400);
}
.home .hero-logo {
  width: 450px;
  position: absolute;
  bottom: calc(50% - 250px);
  right: 150px;
}

/* -----------INTRO----------- */
.main-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-intro .main-title {
  display: none;
  color: var(--clr-dark);
  font-family: var(--font-title);
  font-size: 2rem;
  margin-top: 3rem;
}
.main-intro .intro-text {
  max-width: 50vw;
  font-style: oblique;
  text-align: center;
  padding: 1rem;
  margin: 3rem 0;
}

/* -----------MODULAR----------- */
.main-modular {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.main-modular .module {
  position: relative;
  background-color: var(--clr-main-400);
  text-align: center;
  margin: .2rem;
  height: 500px;
}
.module-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  color: var(--clr-light);
}
.module-content .h3 {
  font-size: 1rem;
}
.main-modular .module img {
  width: 150px;
}
.module-subtitle {
  color: var(--clr-dark);
  font-family: var(--font-title);
  position: absolute;
  margin-top: 75%;
}

/* -----------INSTAGRAM FEED----------- */
.instagram-feed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-main-200);
  width: 100%;
  height: 100vh;
}

/* -----------MONEDA MIA----------- */
.banner-mia {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(55deg, #39BCDC 0%, #C791F8 85%);
  width: 100%;
  padding: 2rem;
}
.banner-mia img {
  width: 150px;
  margin: 0 3rem;
}

/* ---------LEY DE RECUPERACIÓN--------- */
.banner-recup {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-title);
  text-transform: uppercase;
}
.banner-recup img {
  position: absolute;
  top: 0;
  right: -250px;
  height: 130%;
}
.banner-recup .circular-text {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 40%;
  right: 5rem;
}
.banner__overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  padding-left: 5rem;
  padding-top: 3rem;
}
.banner__header-text {
  display: inline-block;
  background-color: var(--clr-dark);
  color: white;
  padding: .5rem 1rem;
  width: 500px;
}
.banner__title {
  font-size: 4rem;
  margin: 1rem 0 5rem;
}
.banner__subtitle {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.banner__list {
  line-height: 1.5;
}

/* -----OCUPAR - RESISTIR - PRODUCIR----- */
.banner-ocupar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 4rem 2rem;
}

/* ------------QUIENES SOMOS------------ */
.quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quienes-somos .hero-background {
  background-image: url('../images/uploads/banners/bg_historia.png');
  background-position: center;
}
.quienes-somos .panel-right {
  padding-top: 100px;
}
.quienes-somos .intro-text {
  font-weight: normal;
  font-style: italic;
}
/* BLOCK HISTORIA */
.block-historia {
  background-color: var(--clr-accent-400);
  color: var(--clr-light);
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 3rem;
}
.block-historia .h3 {
  font-size: 1.5rem;
}
/* GALERÍA */
.galeria {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  grid-gap: 2rem;
  margin: 3rem 0;
}
.galeria .foto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.galeria .foto img {
  width: 250px;
}
.galeria .foto-tag {
  position: absolute;
  color: var(--clr-light);
  font-weight: bold;
  opacity: 0;
  transition: opacity .2s ease-in;
}
.galeria .foto:hover > .foto-tag {
  opacity: 1;
}
/* ------------HISTORIA------------ */
.historia {
  width: 100vw;
  min-height: 100vh;
}
.historia .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.historia .hero-background {
  background-image: url('../images/uploads/banners/bg_historia.png');
  background-position: center;
}
.historia .hero-overlay {
  background: linear-gradient(to top, var(--lg-historia-1), var(--lg-historia-2));
}
.historia .hero-logo {
  width: 150px;
  margin-bottom: 1rem;
}
.historia .hero-title {
  padding: 1rem;
}
.historia .hero-subtitle {
  font-family: var(--font-title);
  font-size: 1.2rem;
  text-transform: lowercase;
  text-align: center;
}
.historia .timeline-background {
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent-400);
  padding-top: 3rem;
}
.historia .timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 150px;
}
.timeline-event {
  position: relative;
  display: flex;
  border-left: 3px solid var(--clr-dark);
  padding-bottom: 100px;
}
.timeline-event .event-col {
  height: 100%;
}
.historia .historia-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--clr-dark);
  left: -1rem;
  top: -1rem;
}
.historia .historia-line {
  position: absolute;
  top: -3px;
  width: 25px;
  border-top: 3px solid var(--clr-dark);
  margin-right: 1rem;
}
.historia .historia-anio,
.historia .historia-titulo {
  font-family: var(--font-main);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -1rem;
  margin-bottom: 3rem;
}
.historia .historia-anio {
  padding-left: 2rem;
}
.historia .historia-titulo {
  margin-left: 5rem;
}
.historia .historia-img {
  width: 300px;
  height: 100%;
}
.historia .historia-descripcion {
  font-size: 1rem;
  margin-left: 5rem;
}

/* ------------DÓNDE ESTAMOS------------ */
.donde-estamos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donde-estamos .hero-panels {
  align-items: flex-end;
}
.donde-estamos .hero-background {
  background-image: url('../images/uploads/page/mner-placeholder.png');
  background-position: center;
}
.donde-estamos .panel-right {
  font-family: var(--font-title);
  color: var(--clr-light);
  text-transform: uppercase;
}
.donde-estamos .panel-upper {
  display: flex;
  margin-bottom: 3rem;
}
.donde-estamos .panel-upper .col {
  padding: 1rem;
}
.donde-estamos .panel-upper .col-title {
  font-size: 2rem;
  margin-bottom: .5rem;
}
.donde-estamos .panel-upper .col-subtitle {
  font-size: 1.2rem;
}
.donde-estamos .panel-upper .col1 {
  border-right: 1px solid white;
}
.donde-estamos .panel-lower {
  position: relative;
}
.donde-estamos .panel-lower .lower-title {
  color: var(--clr-accent-400);
  font-size: 3rem;
  margin-bottom: 1rem;
}
.donde-estamos .panel-lower .lower-list {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.donde-estamos .block-mapa {
  position: absolute;
  background-color: var(--clr-accent-400);
  width: 100%;
  padding: .5em;
  font-family: var(--font-main);
  text-align: center;
}
.donde-estamos .lower {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--clr-main-400);
}
.donde-estamos .lower img {
  width: 550px;
}

/* ------------QUÉ HACEMOS------------ */
.que-hacemos .hero-background {
  background-image: url('../images/uploads/page/mner-placeholder.png');
  background-position: center;
}
.que-hacemos .panel-row {
  border-bottom: 1px solid var(--clr-light);
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.que-hacemos .panel-right {
  justify-content: center;
}
.panel-row .row-title {
  font-family: var(--font-title);
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 30%;
}
.panel-row .row-description {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  width: 70%;
  padding-left: 5rem;
  font-style: italic;
}
/* SUBPÁGINAS */
.subpage-modular {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.subpage-modular .module {
  width: 50%;
}
.subpage-modular .module-left {
  position: relative;
  padding: calc(100px + 1rem) 10vw;
}
.subpage-modular .module-title {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.subpage-modular .module-title span{
  font-size: 1.2rem;
}
.subpage-modular .color-block {
  position: absolute;
  left: 0;
  top: calc(100px + 1rem);
  width: 2rem;
  height: 6rem;
}
.subpage-modular .module-right {
  position: relative;
}
.subpage-modular .module-background,
.subpage-modular .module-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.subpage-modular .module-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}
.subpage-modular .module-overlay {
  opacity: .7;
}
.module-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.module-overlay img {
  opacity: .4;
}
/* ---------------------------------- */
.trabajo .module-left {
  color: var(--clr-main-400);
}
.trabajo .color-block {
  background-color: var(--clr-main-400);
}
.trabajo .module-background {
  background-image: url('../images/uploads/page/mner-trabajo.png');
}
/* ---------------------------------- */
.genero .module-left {
  background-color: var(--clr-subpage-1);
  color: var(--clr-light);
}
.genero .color-block {
  background-color: var(--clr-light);
}
.genero .module-background {
  background-image: url('../images/uploads/page/mner-genero.png');
}
.genero .module-overlay {
  background-color: var(--clr-subpage-1);
}
.genero .module-overlay img {
  width: 65%;
}
/* ---------------------------------- */
.educacion .module-left {
  color: var(--clr-subpage-2);
}
.educacion .color-block {
  background-color: var(--clr-subpage-2);
}
.educacion .module-background {
  background-image: url('../images/uploads/page/mner-educacion.png');
}
.educacion .module-overlay {
  background-color: var(--clr-subpage-2);
}
.educacion .module-overlay img {
  width: 50%;
}
/* ---------------------------------- */
.recoop .module-left {
  background-color: var(--clr-main-400);
  color: var(--clr-dark);
}
.recoop .color-block {
  background-color: var(--clr-dark);
}
.recoop .module-background {
  background-image: url('../images/uploads/page/mner_recoop.png');
  filter: none;
}
.logo-recoop {
  position: absolute;
  bottom: 3rem;
  width: 200px;
}


/* **************** MEDIA QUERIES **************** */

/* ------------- BIG MONITOR UP ------------- */
@media screen and (min-width: 1800px) {

}

/* ------------- MEDIUM MONITOR DOWN ------------- */
@media screen and (max-width: 1400px) {

}

/* ------------- TABLET LANDSCAPE DOWN ------------- */
@media screen and (max-width: 1200px) {
  .home .hero-logo {
    width: 350px;
    bottom: 5rem;
    right: 5rem;
  }
  .home .hero-title {
    font-size: 2rem;
  }
  .main-modular .module {
    height: 400px;
  }
  .main-modular .module img {
    width: auto;
    height: 230px;
  }
  .main-modular .module:first-child img {
    height: 180px;
  }
  .banner-mia .h1 {
    text-align: center;
    font-size: 3rem;
  }
  .banner__overlay {
    padding-top: 5rem;
  }
  .recoop.subpage-modular {
    height: 80vh;
  }
}

/* ------------- TABLET PORTRAIT DOWN ------------- */
@media screen and (max-width: 900px) {
  /* GENERALES */
  body {
    font-size: 18px;
  }
  footer {
    min-height: 0;
    height: auto;
    padding: 1rem;
  }
  .footer-panel {
    padding: 0 2rem;
    width: auto;
  }
  footer .panel-left {
    padding: .5rem 0;
  }
  footer .panel-right {
    padding: .5rem 0 .5rem 3rem;
  }
  .footer__logo {
    width: 250px;
  }
  .footer-panel .footer-title {
    font-size: 1rem;
  }
  .footer-panel .footer-subtitle {
    display: none;
  }
  /* HERO */
  .hero-panels {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  .hero-title {
    text-align: center;
  }
  .panel-left,
  .panel-right {
    width: auto;
    padding: 3rem;
    align-items: center;
  }
  /* HOME */
  .main-intro .intro-text {
    max-width: 80vw;
  }
  .banner-mia img {
    width: 120px;
  }
  .banner__title {
    margin-top: 3rem;
  }
  .banner-recup .circular-text {
    top: 60%;
  }
  .banner-ocupar .h2 {
    font-size: 2rem;
  }
  /* QUÉ HACEMOS */
  .que-hacemos .panel-right {
    align-items: stretch;
  }
  .subpage-modular {
    flex-direction: column;
  }
  .subpage-modular .module-left,
  .subpage-modular .module-right {
    width: 100%;
  }
  .subpage-modular .module-left {
    height: 40%;
  }
  .subpage-modular .module-right {
    height: 60%;
  }
  .logo-recoop {
    display: none;
  }
  /* DÓNDE ESTAMOS */
  .donde-estamos .hero-panels {
    align-items: center;
  }
  .donde-estamos .panel-lower .lower-title {
    margin-bottom: 1rem;
  }
  .donde-estamos .panel-lower .lower-list {
    width: auto;
  }
  /* QUIÉNES SOMOS */
  /* --> GALERIA */
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  /* --> HISTORIA */
  .timeline-event {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .historia .historia-titulo,
  .historia .historia-descripcion {
    margin-left: 1rem;
  }
  .historia .historia-img {
    height: auto;
    width: 500px;
  }
  .timeline-event .col2 {
    margin-top: 3rem;
  }

}

/* ------------- MOBILE DEVICES DOWN ------------- */
@media screen and (max-width: 599px) {
  /* ESTILOS GENERALES */
  body {
    font-size: 12px;
  }
  .hero {
    height: auto;
  }
  .hero-panels {
    justify-content: flex-start;
    margin-top: 3rem;
    padding: 1rem;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .panel-left,
  .panel-right {
    padding: 0;
  }
  .panel-right {
    padding-top: 2rem;
  }
  .panel-left .panel-img {
    width: 100px;
  } 
  .intro-text {
    font-size: .9rem;
    line-height: 1.2;
  }
  /* NAVEGACIÓN */
  .header {
    height: 3rem;
    padding: .2rem 1rem;
  }
  .header .logo img {
    width: 80px;
  }
  .menu-icon {
    font-size: 1.5rem;
  }
  .nav-menu {
    top: 3rem;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-nav .nav-list {
    padding-top: 0;
  }
  .nav-list li {
    font-size: 1rem;
  }
  .nav-list li:first-child  {
    padding-top: 0;
  }
  /* HOME HERO */
  .home .hero {
    margin-top: 3rem;
    height: 50vh;
  }
  .home .hero-background video {
    height: 100%;
  }
  .home .hero-logo {
    width: 150px;
    right: 1rem;
  }
  .main-intro .intro-text {
    max-width: 100%;
    margin: 1rem 0;
  }
  .main-modular {
    flex-direction: column;
  }
  .main-modular .module {
    height: 350px;
  }
  .main-modular .module img {
    width: auto;
    height: 180px;
  }
  .main-modular .module:nth-child(3) img {
    height: 200px;
  }
  .module-subtitle {
    margin-top: 50%;
  }
  .banner-mia {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .banner-mia .h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .banner-mia img {
    width: 100px;
    margin: 2rem;
  }
  .banner-mia img:first-child {
    display: none;
  }
  .banner-recup .circular-text {
    display: none;
  }
  .banner-recup .banner__header-text {
    width: auto;
  }
  .banner-recup .banner__header-text a {
    font-family: var(--font-main);
    font-size: .9rem;
  }
  .banner__overlay {
    padding: 2rem 1rem;
    justify-content: center;
  }
  .banner__title {
    font-size: 2rem;
    margin: 2rem 0 2rem;
  }
  .banner__subtitle {
    font-size: 1.2rem;
  }
  .banner__list {
    margin-top: 2rem;
    font-size: .7rem;
  }
  .banner-ocupar {
    padding: 2rem 0;
  }
  .banner-ocupar .h2 {
    font-size: .9rem;
  }
  /* FOOTER */
  footer {
    flex-direction: column-reverse;
    padding: 2rem 1rem;
  }
  footer .panel-right,
  footer .pannel-left {
    align-items: flex-start;
  }
  .footer__logo {
    width: 75%;
    margin-bottom: 1rem;
  }
  footer .panel-right {
    border-left: none;
    padding-left: 0;
  }
  .footer-panel {
    padding: 0;
    width: 100%;
  }
  .footer-panel .footer-title {
    display: none;
  }
  .footer-panel .footer-subtitle {
    display: none;
  }
  .footer-panel p {
    padding: 0;
  }
  .footer-icon {
    padding: 1rem 0;
  }
  /* QUIENES SOMOS */
  .block-historia {
    margin: 2rem 0;
  }
  .block-historia .h3 {
    font-size: 1rem;
  }
  /* --> GALERIA */
  .galeria {
    /* width: 100vw; */
    padding: .5rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .galeria .foto {
    align-self: center;
  }
  /* --> HISTORIA */
  .historia .hero {
    min-height: 100vh;
  }
  .historia .timeline {
    margin: 0 .5rem;
  }
  .historia .historia-circle {
    left: -.5rem;
    top: -.5rem;
    width: 15px;
    height: 15px;
  }
  .historia .historia-anio,
  .historia .historia-titulo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .historia .historia-descripcion {
    font-size: .9rem;
    line-height: 1.5;
  }
  .historia .historia-img {
    width: 95%;
  }

  /* QUÉ HACEMOS */
  .que-hacemos .panel-row {
    flex-direction: column;
    justify-content: center;
  }
  .que-hacemos .panel-row .row-title {
    font-size: .9rem;
    width: auto;
    margin-bottom: 1rem;
  }
  .que-hacemos .panel-row .row-description {
    padding-left: 0;
    width: auto;
  }
  .subpage-modular {
    height: auto;
  }
  .subpage-modular .module-left {
    padding: 3rem 2rem;
  }
  .subpage-modular .color-block {
    top: 2rem;
  }
  .subpage-modular .module-title,
  .subpage-modular p {
    padding-left: 1rem;
  }
  .subpage-modular .module-right {
    height: 500px;
  }
  /* DONDE ESTAMOS */
  .donde-estamos .panel-upper {
    flex-direction: column;
  }
  .donde-estamos .panel-upper .col1 {
    border-right: none;
    border-bottom: 1px solid white;
  }
  .donde-estamos .lower img {
    width: 90%;
  }

}
