{layout="layouts/_wrapper"}

<div class="donde-estamos">

  <div class="hero">
    <div class="hero-background"></div>
    <div class="hero-overlay"></div>

    <div class="hero-panels">

      <div class="panel panel-left">
        <h1 class='hero-title'>
          Empresas <br>Recuperadas <br>Argentinas
        </h1>
        <img class="panel-img map" src="{path='images/uploads/logos/ico-mapa.png'}" alt="Placeholder Map">
      </div>

      <div class="panel panel-right">

        <div class="panel-upper">
          <div class="col col1">
            <p class="col-title">+430</p>
            <p class="col-subtitle">empresas en todo el país</p>
          </div>
          <div class="col col2">
            <p class="col-title">+280</p>
            <p class="col-subtitle">empresas productivas</p>
          </div>
          <div class="col col3">
            <p class="col-title">+150</p>
            <p class="col-subtitle">empresas servicios</p>
          </div>
        </div>

        <div class="panel-lower">
          <p class="lower-title">Rubros</p>
          <p class="lower-list">Alimentos / Metalmecánica / Textil / Gráficas / Gastronómicas / Envases / Manufacturas / Salud</p>

          <div class="block-mapa">
            <a href="#">
              <p>Buscá las empresas en el mapa</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lower">
    <img src="{path='images/uploads/logos/texto-circular.png'}" alt="Placeholder Texto Circular">
  </div>

</div>
