<ul class="nav-list">

  <p class="title">Menú</p>
  <div class="line"></div>

	<li><a class="menu-link" href="{path='/quienes-somos'}">Quiénes Somos</a></li>
	<ul class="sub-nav">
		<li><a class="menu-link" href="{path='/historia'}">Historia</a></li>
		<li><a class="menu-link" href="{path='/quienes-somos/galeria'}">Galería</a></li>
	</ul>
	<li><a class="menu-link" href="{path='/donde-estamos'}">Dónde Estamos</a></li>
	<li><a class="menu-link" href="{path='/que-hacemos'}">Qué hacemos</a></li>
	<ul class="sub-nav">
		<li><a class="menu-link" href="{path='/que-hacemos'}#trabajo-y-produccion">Trabajo y Producción</a></li>
		<li><a class="menu-link" href="{path='/que-hacemos'}#genero">Género</a></li>
		<li><a class="menu-link" href="{path='/que-hacemos'}#educacion-y-cultura">Educación y Cultura</a></li>
		<li><a class="menu-link" href="{path='/que-hacemos'}#recoop">Recoop</a></li>
	</ul>
  <li>
    <a class="menu-link" href="#">
      <i class="list-icon fa-brands fa-instagram"></i>
    </a>
  </li>
</ul>
