{layout="layouts/_wrapper"}

<div class="que-hacemos">

  <!-- HERO -->
  <div class="hero">

    <div class="hero-panels">

      <div class="hero-background"></div>
      <div class="hero-overlay"></div>

      <div class="panel panel-left">
      <!-- {exp:channel:entries channel="que_hacemos" limit="1" status="Default Page"} -->
        <h1 class='hero-title'>
          <!-- {if encabezado}
            {encabezado}
          {if:else}
            {title}
          {/if} -->
          Qué <br> hacemos
        </h1>
        <img class="panel-img" src="{path='/images/uploads/logos/ico-engranajes.png'}" alt="Placeholder Logo">
        <!-- <div class="logo">
          <img class="panel-img" src="{path='/images/uploads/logos/ico-engranajes.png'}" alt="Placeholder Logo">
        </div> -->
      <!-- {/exp:channel:entries} -->
      </div>
      <div class="panel panel-right">

        <div class="panel-row">
          <div class="row-title">
            MNER <br> Trabajo y Producción
          </div>
          <div class="row-description">
            Acompañando a cada Empresa que se recupera y cada empresa recuperada.
          </div>
        </div>

        <div class="panel-row">
          <div class="row-title">
            MNER <br> Géneros
          </div>
          <div class="row-description">
            Avanzando en el debate y la construcción.
          </div>
        </div>

        <div class="panel-row">
          <div class="row-title">
            MNER <br> Educación y Cultura
          </div>
          <div class="row-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

        <div class="panel-row">
          <div class="row-title">
            RECOOP
          </div>
          <div class="row-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- SUB-PÁGINAS -->
  <!-- MNER TRABAJO Y PRODUCCIÓN -->
  <div id="trabajo-y-produccion" class="subpage-modular trabajo">
    <div class="module module-left">
      <div class="color-block"></div>
      <h3 class="module-title h3">
        MNER <br> Trabajo y Producción
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>
        NOS SEGUIMOS ORGANIZANDO para CONSEGUIR:<br>
        . TARIFA DIFERENCIAL <br>
        . RECONOCIMIENTO de TRABAJADORES
        AUTOGESTIONADOS <br><br>
      </p>
    </div>
    <div class="module module-right">
      <div class="module-background"></div>
      <div class="module-overlay"></div>
    </div>
  </div>


  <!-- MNER GÉNERO -->
  <div id="genero" class="subpage-modular genero">
    <div class="module module-left">
      <div class="color-block"></div>
      <h3 class="module-title h3">
        MNER <br> Género
      </h3>
      <p>
        MNER Géneros es parte de la organización y lucha por la conquista de derechos desde los aportes y experiencias que han ido cons- truyendo por más de 20 años las mujeres y las diversidades en la recuperación y sostenimiento de las fuentes laborales. <br>
        Desobedecemos al Sistema Patronal que es un producto del sistema capitalista. Identificamos en el Sistema Patronal como la fuente del sufrimiento que combatimos. El lugar donde se anudan todas las violencias del patriarcado, heterocapitalista y colonial. <br><br>
      </p>
    </div>
    <div class="module module-right">
      <div class="module-background"></div>
      <div class="module-overlay">
        <img src="{path='/images/uploads/logos/logo-mujeres.png'}" alt="Logo ">
      </div>
    </div>
  </div>

  <!-- MNER EDUCACIÓN Y CULTURA -->
  <div id="educacion-y-cultura" class="subpage-modular educacion">
    <div class="module module-left">
      <div class="color-block"></div>
      <h3 class="module-title h3">
        MNER <br> Educación y Cultura
      </h3>
      <p>
        El Movimiento Nacional de Empresas Recuperadas siempre apoyó y promovió el desarrollo de innumerables iniciativas vinculadas al campo de la educación popular y la cultura. De manera autogestiva, en los predios de las empresas y articulando con equipos pertenecientes a universidades públicas y colectivos de extensa militancia en el campo popular. <br>
        Nuestro objetivo principal es fortalecer la Educación y la cultura de nuestro pueblo de sistematizando experiencias, debatiendo colectivamente desde el Movimiento prioridades, a iniciativas que tengan como finalidad consolidar el espacio atendiendo a las necesidades e intereses de las empresas recuperadas y lxs trabajadorxs que forman parte de ellas, así como también sus comunidades. <br><br>
      </p>
    </div>
    <div class="module module-right">
      <div class="module-background"></div>
      <div class="module-overlay">
        <img src="{path='/images/uploads/logos/logo-educacion.png'}" alt="Logo ">
      </div>
    </div>
  </div>

  <!-- RECOOP -->
  <div id="recoop" class="subpage-modular recoop">
    <div class="module module-left">
      <div class="color-block"></div>
      <h3 class="module-title h3">
        RECOOP <br> <span>Distribuidora Comercializadora</span>
      </h3>
      <p>
        Primer cooperativa que comercializa y dsitribuye en todo el país productos de Empresas Recuperadas, Cooperativas de trabajo, y otros.<br><br>
      </p>
      <img class="logo-recoop" src="{path='/images/uploads/logos/logo-recoop-txt.png'}" alt="Placeholder Logo">
    </div>
    <div class="module module-right">
      <div class="module-background"></div>
      <!-- <div class="module-overlay"></div> -->
    </div>
  </div>

</div>
